<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Add Employee</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add Employee</h1>
    <form action="#" th:action="@{/save}" th:object="${employee}" method="post">
    	<p>Name: <input type="text" th:field="*{name}" /></p>
        <p>Email: <input type="email" th:field="*{email}" /></p>
        <p>Contact: <input type="text" minlength="5" maxlength="5" th:field="*{contact}" /></p>
        <p>Rating(1-10): <input type="number" min=1 max=10 th:field="*{rating}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>